[submodule "txt/KR2e0003"]
	path = txt/KR2e0003
	url = git@github.com:kanripo/KR2e0003.git
[submodule "txt/KR3a0010"]
	path = txt/KR3a0010
	url = git@github.com:kanripo/KR3a0010.git
[submodule "txt/KR3f0032"]
	path = txt/KR3f0032
	url = git@github.com:kanripo/KR3f0032.git
[submodule "txt/KR1d0002"]
	path = txt/KR1d0002
	url = git@github.com:kanripo/KR1d0002.git
[submodule "txt/KR3f0001"]
	path = txt/KR3f0001
	url = git@github.com:kanripo/KR3f0001.git
[submodule "txt/KR2b0001"]
	path = txt/KR2b0001
	url = git@github.com:kanripo/KR2b0001.git
[submodule "txt/KR4a0002"]
	path = txt/KR4a0002
	url = git@github.com:kanripo/KR4a0002.git
[submodule "txt/KR3c0001"]
	path = txt/KR3c0001
	url = git@github.com:kanripo/KR3c0001.git
[submodule "txt/KR3j0006"]
	path = txt/KR3j0006
	url = git@github.com:kanripo/KR3j0006.git
[submodule "txt/KR3a0002"]
	path = txt/KR3a0002
	url = git@github.com:kanripo/KR3a0002.git
[submodule "txt/KR1d0026"]
	path = txt/KR1d0026
	url = git@github.com:kanripo/KR1d0026.git
[submodule "txt/KR3a0009"]
	path = txt/KR3a0009
	url = git@github.com:kanripo/KR3a0009.git
[submodule "txt/KR3a0012"]
	path = txt/KR3a0012
	url = git@github.com:kanripo/KR3a0012.git
[submodule "txt/KR1j0002"]
	path = txt/KR1j0002
	url = git@github.com:kanripo/KR1j0002.git
[submodule "txt/KR3j0081"]
	path = txt/KR3j0081
	url = git@github.com:kanripo/KR3j0081.git
[submodule "txt/KR2d0002"]
	path = txt/KR2d0002
	url = git@github.com:kanripo/KR2d0002.git
[submodule "txt/KR3c0005"]
	path = txt/KR3c0005
	url = git@github.com:kanripo/KR3c0005.git
[submodule "txt/KR1c0066"]
	path = txt/KR1c0066
	url = git@github.com:kanripo/KR1c0066.git
[submodule "txt/KR3a0005"]
	path = txt/KR3a0005
	url = git@github.com:kanripo/KR3a0005.git
[submodule "txt/KR1f0002"]
	path = txt/KR1f0002
	url = git@github.com:kanripo/KR1f0002.git
[submodule "txt/KR3a0008"]
	path = txt/KR3a0008
	url = git@github.com:kanripo/KR3a0008.git
[submodule "txt/KR3j0192"]
	path = txt/KR3j0192
	url = git@github.com:kanripo/KR3j0192.git
[submodule "txt/KR3a0004"]
	path = txt/KR3a0004
	url = git@github.com:kanripo/KR3a0004.git
[submodule "txt/KR1a0001"]
	path = txt/KR1a0001
	url = git@github.com:kanripo/KR1a0001.git
[submodule "txt/KR2d0001"]
	path = txt/KR2d0001
	url = git@github.com:kanripo/KR2d0001.git
[submodule "txt/KR3j0007"]
	path = txt/KR3j0007
	url = git@github.com:kanripo/KR3j0007.git
[submodule "txt/KR3a0001"]
	path = txt/KR3a0001
	url = git@github.com:kanripo/KR3a0001.git
[submodule "txt/KR2e0001"]
	path = txt/KR2e0001
	url = git@github.com:kanripo/KR2e0001.git
[submodule "txt/KR5c0057"]
	path = txt/KR5c0057
	url = git@github.com:kanripo/KR5c0057.git
[submodule "txt/KR1d0052"]
	path = txt/KR1d0052
	url = git@github.com:kanripo/KR1d0052.git
[submodule "txt/KR5c0124"]
	path = txt/KR5c0124
	url = git@github.com:kanripo/KR5c0124.git
[submodule "txt/KR3j0080"]
	path = txt/KR3j0080
	url = git@github.com:kanripo/KR3j0080.git
[submodule "txt/KR1h0004"]
	path = txt/KR1h0004
	url = git@github.com:kanripo/KR1h0004.git
[submodule "txt/KR3j0009"]
	path = txt/KR3j0009
	url = git@github.com:kanripo/KR3j0009.git
[submodule "txt/KR1h0001"]
	path = txt/KR1h0001
	url = git@github.com:kanripo/KR1h0001.git
[submodule "txt/KR3j0002"]
	path = txt/KR3j0002
	url = git@github.com:kanripo/KR3j0002.git
[submodule "txt/KR3l0092"]
	path = txt/KR3l0092
	url = git@github.com:kanripo/KR3l0092.git
[submodule "txt/KR3j0023"]
	path = txt/KR3j0023
	url = git@github.com:kanripo/KR3j0023.git
[submodule "txt/KR3l0090"]
	path = txt/KR3l0090
	url = git@github.com:kanripo/KR3l0090.git
[submodule "txt/KR1b0001"]
	path = txt/KR1b0001
	url = git@github.com:kanripo/KR1b0001.git
[submodule "txt/KR3a0011"]
	path = txt/KR3a0011
	url = git@github.com:kanripo/KR3a0011.git
[submodule "txt/KR1j0007"]
	path = txt/KR1j0007
	url = git@github.com:kanripo/KR1j0007.git
