[submodule "txt/KR2e0003"]
	path = txt/KR2e0003
	url = https://github.com/kanripo/KR2e0003.git
[submodule "txt/KR3a0010"]
	path = txt/KR3a0010
	url = https://github.com/kanripo/KR3a0010.git
[submodule "txt/KR3f0032"]
	path = txt/KR3f0032
	url = https://github.com/kanripo/KR3f0032.git
[submodule "txt/KR1d0002"]
	path = txt/KR1d0002
	url = https://github.com/kanripo/KR1d0002.git
[submodule "txt/KR3f0001"]
	path = txt/KR3f0001
	url = https://github.com/kanripo/KR3f0001.git
[submodule "txt/KR2b0001"]
	path = txt/KR2b0001
	url = https://github.com/kanripo/KR2b0001.git
[submodule "txt/KR4a0002"]
	path = txt/KR4a0002
	url = https://github.com/kanripo/KR4a0002.git
[submodule "txt/KR3c0001"]
	path = txt/KR3c0001
	url = git@github.com:kanripo/KR3c0001.git
[submodule "txt/KR3j0006"]
	path = txt/KR3j0006
	url = git@github.com:kanripo/KR3j0006.git
[submodule "txt/KR3a0002"]
	path = txt/KR3a0002
	url = git@github.com:kanripo/KR3a0002.git
[submodule "txt/KR1d0026"]
	path = txt/KR1d0026
	url = git@github.com:kanripo/KR1d0026.git
[submodule "txt/KR3a0009"]
	path = txt/KR3a0009
	url = git@github.com:kanripo/KR3a0009.git
[submodule "txt/KR3a0012"]
	path = txt/KR3a0012
	url = git@github.com:kanripo/KR3a0012.git
[submodule "txt/KR1j0002"]
	path = txt/KR1j0002
	url = git@github.com:kanripo/KR1j0002.git
[submodule "txt/KR3j0081"]
	path = txt/KR3j0081
	url = git@github.com:kanripo/KR3j0081.git
[submodule "txt/KR2d0002"]
	path = txt/KR2d0002
	url = git@github.com:kanripo/KR2d0002.git
[submodule "txt/KR3c0005"]
	path = txt/KR3c0005
	url = git@github.com:kanripo/KR3c0005.git
[submodule "txt/KR1c0066"]
	path = txt/KR1c0066
	url = git@github.com:kanripo/KR1c0066.git
[submodule "txt/KR3a0005"]
	path = txt/KR3a0005
	url = git@github.com:kanripo/KR3a0005.git
